@mixin listStyleStarter {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin breacpoints-down($parametir){
    @media only screen and(max-width:$parametir){
        @content
    }
}

@mixin btnstarted {
    display: inline-block;
    border: none;
    outline: none;
    background-color: transparent;
}